.background-image{
    background-image: url('../../public/starry_sky.jpg');
    margin-bottom: 1.5%;
}
.page-title{
    font-size: 3em; 
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-subtitle{
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-footer{
    background-color: black;
    margin-top: 25px;
}

.apikey-submit{
    background-color: white;
    color: black;
}

.form-label{
    margin-top: 2%;
}
