.background-image{
    background-image: url('../../public/starry_sky.jpg');
}
.page-title{
    font-size: 3em; 
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-subtitle{
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-footer{
    background-color: black;
    margin-top: -16px;
}

.apikey-submit{
    background-color: white;
    color: black;
}
.question-box{
    width: 700px;
    height: 275px;
    background-color: lightskyblue;
    border-radius: 10px;
    border: 4px;
    border-color: black;
    margin-bottom: 284px;
}
.question-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}