.background-image{
    background-image: url('../../public/starry_sky.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.page-title{
    font-size: 3em; 
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-subtitle{
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}

.page-footer{
    background-color: black;
}

.apikey-submit{
    background-color: white;
    color: black;
}
.question-box-container-detailed{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-box-detailed{
    width: 700px;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 4px;
    margin-bottom: 284px;
}