.home-top-left-title{
    /* position: absolute;
    top: 25px;
    left: 550px; */
    font-size: 3em; 
    font-weight: bold;
    color: white; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}
  
.home-container {
    display: flex;
    /* padding: 15px; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-image: url('../../public/starry_sky.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 650px;
    /* margin-top: 50px; */
    /* padding-top: 80px; */
}

.title-emoji {
    font-size: 1.2em; 
    margin-right: 12px;
}

.quiz-sections {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin-left: 20px;
}

.quiz-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.quiz-description {
    padding: 15px;
    background-color: lightskyblue;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    max-width: 400px;
}

.description-text {
    font-size: .7em;
    color: #222;
    line-height: 1.6;
}

.description-header-text {
    color: #000000
}

.intro-box {
    max-width: 30%;
    margin-top: 60px;
    padding: 20px;
    background-color: lightskyblue;
    color: #333;
    line-height: 1.8;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-bottom: 60px;
    border-radius: 8px;
}

.home-footer {
    background-color: #212429;
    text-align: center;
    padding: 20px;
    width: 100%;
    color: lightskyblue
}

.detailed-button,
.basic-button {
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
    color: #212429;
    background-color: white;
    z-index: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}