.home-top-left-title{
    position: absolute;
    top: 25px;
    left: 550px;
    font-size: 3em; 
    font-weight: bold;
    color: yellow; 
    margin: 0;
    font-family: "Arial", Arial, Helvetica, sans-serif, sans-serif;
}
  
.home-container {
    position: relative;
    /* padding: 15px; */
    flex-direction: column;
    align-items: flex-start;
}

.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding-top: 80px; */
}

.title-emoji {
    font-size: 1.2em; 
    margin-right: 12px;
}

.quiz-sections {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.quiz-section {
    display: flex;
    align-items: center;
    margin-top: -150px;
    margin-bottom: 50px;
    justify-content: flex-start;
    width: 100%;
}

.quiz-description {
    max-width: 400px;
    margin-left: 50px;
    margin-top: 100px;
    /* padding: 15px; */
    background-color: lightskyblue;
    border-radius: 8px;
}

.description-text {
    font-size: .7em;
    color: #555;
    line-height: 1.6;
}

.description-header-text {
    color: #000000
}

.intro-box {
    max-width: 30%;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-left: 200px;
    margin-right: 50px;
    padding: 20px;
    background-color: lightskyblue;
    /* border: 1 px solid #ccc; */
    /* border-radius: 8px; */
    color: #333;
    line-height: 1.8;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.home-footer {
    background-color: #212429;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
    margin-top: 0px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    color: lightskyblue
}

.detailed-button {
    margin-top: 500px;
    margin-left: -280px;
    font-size: medium;
    font-weight: bold;
    color: #212429;
    background-color: yellow;
}

.basic-button {
    margin-top: 410px;
    margin-left: -400px;
    font-size: medium;
    font-weight: bold;
    color: #212429;
    background-color: yellow;
}